<h1>Login Page</h1>

<form action="/login" method="post">
    <label for="email">Email</label>
    <input name="email" type="text">
    <label for="password">Password</label>
    <input name="password" type="password">
    <button>Login</button>
    <button type="reset">Reset</button>
    <a href="/signup">Sign Up</a>
    <label class="message" for=""><%= message %></label>
</form>