<h2>New Subscription Form</h2>
<form action="/subscriptions" class="input-form" name="new" method="post">
    <label for="title">Title</label>
    <input name="title" type="text" required>
    <label  for="price">Amount $</label>
    <input name="price" type="number" placeholder="0.00"pattern="^\d*(\.\d{0,2})?$" step=".01" required>
    <label  for="recurring">Recurring</label>
    <select id="recurring" required>
        <option value="1">Yearly</option>
        <option value="2">Half Yearly</option>
        <option value="3">Quarterly</option>
        <option value="4">Bimonthly</option>
        <option value="5">Fortnightly</option>
        <option value="6">Weekly</option>
        <option value="7" selected>Monthly</option>
        <option value="8">Daily</option>
    </select>
    <label  for="start_date">Start Date</label>
    <input name="start_date" type="date" required>
    <label  for="cancel_date">Cancel Date</label>
    <input name="cancel_date" type="date" required>
    <label  for="site_url">Website URL</label>
    <input name="site_url" type="url">
    <button>Submit</button>
    <button type="reset">Reset</button>
</form>
<script>
    var new_form = document.forms["new"]
    var validateNewForm = function () {
    var  start_date = Date.parse(new_form["start_date"])
    var cancel_date = Date.parse(new_form["cancel_date"])
    if (cancel_date < start_date) {
        alert("Cancel date cannot be earlier than start date. Try again!");
        return false 
    }
}
new_form.addEventListener('submit',validateNewForm);
</script>