<form action="/subscriptions" method="post">
    <label for="title">Title</label>
    <input name="title" type="text">
    <label  for="price">Amount</label>
    <input name="price" type="text">
    <label  for="recurring">Recurring</label>
    <input name="recurring" type="text">
    <label  for="start_date">Start Date</label>
    <input name="start_date" type="date">
    <label  for="cancel_date">Cancel Date</label>
    <input name="cancel_date" type="date">
    <label  for="site_url">Website URL</label>
    <input name="site_url" type="text">
    <button>Submit</button>
</form>