<form action="/signup" method="post">
    <label for="user_name">Name</label>
    <input name="user_name" type="text">
    <label  for="email">Email</label>
    <input name="email" type="text">
    <label  for="password">Password</label>
    <input name="password" type="password">
    <label  for="re_password">Retype Password</label>
    <input name="re_password" type="password">
    <button>Submit</button>
    <button type="reset">Reset</button>
    <label class="message" for=""><%= message %></label>
</form>